<div class="navbar">
                <button onclick="Last_Img()" class="btn-primary"><i class="bi bi-arrow-left"></i></button>
                    <a href="about"><button type="submit" class="btn btn-primary">About</button></a>
            <button onclick="Next_Img()" class="btn-primary"><i class="bi bi-arrow-right"></i></button>
    <!-- <a href="/"><button type="submit" class="btn btn-primary">Home</button></a> -->
    <!-- <a href="artists"><button type="submit" class="btn btn-primary">Artists</button></a>
    <a href="up"><button type="submit" class="btn btn-primary">Sign up</button></a> -->
</div>