<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="menu">
        <h1>About</h1>
        <p>The Fluxus art movement in mid 20th century pioneered process based practices to document and instruct hundreds of proposals for events, happenings and live performances. The notable absence of live events and social gatherings during 2020 led me to rediscover these Fluxus event scores, and their propositions for performative happenings provided me with some comfort and inspiration in times of forced isolation. I hope that showcasing them here and sending them out via a mobile text service will mean these event scores can become occasional interruptions into our daily routines and offer performative actions and imagined events during periods of social isolation.</p>

        <div id="credits">
        <p>All the artworks have been sourced from <a href="https://www.thing.net/~grist/ld/fluxusworkbook.pdf">The Fluxus Performance Workbook</a> <br>
            A Performance Research e-publication
            Edited by Ken Friedman, Owen Smith and Lauren Sawchyn (2002) </p></div>
    </div>

    
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>