<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="menu">
    <h1>Thankyou</h1>
    <p>Your number has been submitted and you should shortly recieve a confirmation text.</p>
        <div class="form-group row">
            <div class="col-sm-10">
            <p>no text?</p>
            <button type="submit" onclick="location.href='mailto:maxdovey@gmail.com'"class="btn btn-primary">message me</button>
            </div>
        </div>
        </form>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>